services:

  jellyfin:
    container_name: jellyfin
    image: jellyfin/jellyfin:latest
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-file: ${DOCKERLOGGING_MAXFILE}
        max-size: ${DOCKERLOGGING_MAXSIZE}
    user: ${PUID}:${PGID}
    ports:
      - 8096:8096/tcp
      - 7359:7359/udp
    environment:
      - TZ=${TZ} 
    volumes:
      - ${DOCKERCONFDIR}/jellyfin/config:/config:rw
      - ${DOCKERCONFDIR}/jellyfin/cache:/cache:rw
      - ${DOCKERCONFDIR}/jellyfin/logs:/logs:rw
      - ${DATADIR}/media:/media:rw
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
      - /dev/dri/card0:/dev/dri/card0
      - /dev/dri:/dev/dri

  radarr:
    container_name: radarr
    image: ghcr.io/hotio/radarr:release
    privileged: true
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-file: ${DOCKERLOGGING_MAXFILE}
        max-size: ${DOCKERLOGGING_MAXSIZE}
    ports:
      - 7878:7878
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - UMASK=002
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${DOCKERCONFDIR}/radarr:/config
      - ${DATADIR}:/data

  sonarr:
    container_name: sonarr
    image: ghcr.io/hotio/sonarr:release
    privileged: true
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-file: ${DOCKERLOGGING_MAXFILE}
        max-size: ${DOCKERLOGGING_MAXSIZE}
    ports:
      - 8989:8989
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - UMASK=002
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${DOCKERCONFDIR}/sonarr:/config
      - ${DATADIR}:/data

  prowlarr:
    container_name: prowlarr
    image: ghcr.io/hotio/prowlarr:release
    privileged: true
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-file: ${DOCKERLOGGING_MAXFILE}
        max-size: ${DOCKERLOGGING_MAXSIZE}
    ports:
      - 9696:9696
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - UMASK=002
      - ARGS=
    volumes:
      - ${DOCKERCONFDIR}/prowlarr:/config:rw

  transmission:
    container_name: transmission
    image: lscr.io/linuxserver/transmission
    privileged: true
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-file: ${DOCKERLOGGING_MAXFILE}
        max-size: ${DOCKERLOGGING_MAXSIZE}
    ports:
      - 9091:9091
      - 51413:51413
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - VERSION=docker
    volumes:
      - ${DOCKERCONFDIR}/transmission/config:/config
      - ${DATADIR}/torrents:/data/torrents
